<a href="https://colab.research.google.com/github/imtheguna/anomalos-exercises/blob/main/data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/imtheguna/anomalos-exercises/main/input/50000%20Records.csv")
df.head()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,158108,Mr.,Bernard,N,Weatherly,M,bernard.weatherly@gmail.com,Wilbur Weatherly,Liana Weatherly,Grams,...,701-18-3166,423-283-5871,Shelbyville,Bedford,Shelbyville,TN,37160,South,bnweatherly,Uzb4X[S_
1,863655,Ms.,Cordia,M,Knopp,F,cordia.knopp@hotmail.com,Wilson Knopp,Darline Knopp,Diana,...,115-98-5006,205-200-6563,Eight Mile,Mobile,Eight Mile,AL,36613,South,cmknopp,PH4:?}aHNCKt|
2,343966,Mr.,Burton,C,Jin,M,burton.jin@yahoo.com,Richard Jin,Willette Jin,Garcia,...,176-86-8865,479-568-5620,Timbo,Stone,Timbo,AR,72680,South,bcjin,Pcm^Co4>F*_beh
3,389958,Mr.,Lauren,O,Guzzi,M,lauren.guzzi@yahoo.com,Blair Guzzi,Shanika Guzzi,Beerman,...,258-99-4279,216-582-0466,Bladensburg,Knox,Bladensburg,OH,43005,Midwest,loguzzi,Pl}odm_]
4,291208,Prof.,Carter,C,Hunt,M,carter.hunt@hotmail.com,Jamal Hunt,Kaila Hunt,Starrett,...,469-57-4080,231-981-5020,Fruitport,Muskegon,Fruitport,MI,49415,Midwest,cchunt,g<aoK0!d|38bX28

Warning: Total number of columns (37) exceeds max_columns (20) limiting to first (20) columns.